body{
	background:light blue;
}
#special{
	background:red;
}
a:link {
    color: orange;
}
a:visited {
    color: green;
}
a:hover {
    color: pink;
}
a:active {
    color: blue;
}
h1.redtext{
			font-family: arial black;
			color: blue;
			font-size: 14 px;
		}
		h1.bluetext{ 
			font-family: arail;
			color:red;
			font-size: 12 px;
		}
